.product-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    gap: 1rem;
}

.product-wrapper{
    margin: auto;
    width: 100%;
}
.image-button-container {

    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

.product-image {
    width: 200px;
}

.product-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

@media (max-width:640px) {
    .product-container{
       flex-direction: column;
    }
}